@page
@model DI.ServiceLifetime.Pages.ScopesModel
@{
}

<p>Transient Operation Id: @Model.TransientOperationId</p>
<p>Scoped Operation Id: @Model.ScopedOperationId</p>
<p>Singleton Operation Id: @Model.SingletonOperationId</p>